/* Complete container for entire single-page */

html {
}

body {
  background-color: rgb(21,21,21);
}

.container-fluid {
}

/* Global styling: Tag elements & Bootstrap class elements, etc. */

.jumbotron {
  background-color: transparent;
  margin-top: 50px; /* Change to percent% or rem */
}

.well {
  background-color: #A0A988;
}

h1 {
  text-align: center;
}

/* Portfolio Page layout structure & corresponding #ID divisions */

#portfolio_HomePage {
  /* height: 1000px; */
  display: block;
  background: url('images/material_back_18.jpg') no-repeat center center fixed;
  -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
}

#portfolio_AboutPage {
  /* height: 1000px; */
  display: block;
  background: url('images/back25.png') no-repeat center center scroll;
  -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
  margin-top: -50px; /* Change to percent% or rem */
}

#portfolio_PortfolioPage {
  /* height: 1000px; */
  display: block;
  background: url('images/wall-loading_screen.jpeg') no-repeat center center scroll;
  -webkit-background-size: 100%;           /* Safari 3.0 */
     -moz-background-size: 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100%;           /* Opera 9.5 */
          background-size: 100%;
  margin-top: -20px; /* Change to percent% or rem */
}

#portfolio_ContactPage {
  /* height: 1000px; */
  display: block;
  background: url('images/material_40_sm.jpg') no-repeat center center scroll;
  -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
  margin-top: -20px; /* Change to percent% or rem */
}

#footer {
  margin: 30px auto; /* Change to percent% or rem */
  text-align: center;
  color: #FEFEFE;
}

/* All other indivdual page elements by their #ID  */

#AboutPageHeader {
  color: #FEFEFE;
}

#PortfolioPageHeader {
  color: #00A5D2;
}

#ContactPageHeader {

}

div#homeText {
  margin: 4rem auto;
  padding-top: 10px; /* Change to percent% or rem */
  text-indent: 8%;
}
#profilePic {
  height: 10%;
  margin: auto auto;
  border: 6px solid #029BE4;
  border-radius: 20%; /* 30px; */
  padding: 0px 0px;
  overflow: hidden;
}
